
.after-registration{
    padding: 92px 0 114px;
    background-color: #FAFDF3;
}

.after-registration__container{
    display: flex;
    align-items: center;
   
}

.after-registration__content{

}

.after-registration__title{
    font-family: RFDewiExpanded-Bold;
    font-size: 40px;
    text-transform: uppercase;
}

.after-registration__subtitle{
    margin-top: 16px;
    font-family: RFDewiExpanded-Bold;
    font-size: 24px;
    text-transform: uppercase;
}

.after-registration__text{
    margin-top: 16px;
    font-family: Gilroy-Medium;
    font-size: 20px;
    color: #122C2999;
}

.after-registration__text_bold{
    font-family: Gilroy-Bold;
}

.after-registration__loading {
    margin-top: 8px;
    height: 32px;
    border: 2px solid #447F6D;
    border-radius: 15px;
    position: relative;
}

.loading__inner{
    height: 29px;
    width: 65%;
    background-color: #447F6D;
    border-radius: 15px;
    margin-left: -2px;
}

.loading__value{
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.after-registration__text{

}


.after-registration__button{
    margin-top: 16px;
    width: 438px;
}

.after-registration__image{
    margin-right: -150px;
    position: relative;
}

.person__contacts{
    top: 500px;
    left: 10px;
    position: absolute;
    color: #447F6D;
    padding: 12px 25px 12px 20px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    max-width: 249px;
    font-family: Gilroy-Medium;
}

.person_instagram{
    margin-top: 4px;
    position: relative;
    padding: 1px 0px 1px 22px;
    
}

.person_instagram::before{
    content: '';
    position: absolute;
    background-image: url('/krypto-land/images/instagram-logo.png');
    width: 100%;
    height: 100%;
    top: 0px;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;  
}

@media (max-width: 1024px){
    .after-registration__image img{
        width: 500px;
    }
    .person__contacts{
        top: 380px;
        left: 10px;
    }
}

@media (max-width: 896px){
    .after-registration__image img{
        width: 400px;
    }
    .person__contacts{
        top: 300px;
        left: 10px;
    }
}

@media (max-width: 768px){
    .after-registration{
        padding: 20px 0 114px;
    }
    .after-registration__container{
        flex-direction: column;
        
    }
    .after-registration__title{
        font-size: 30px;
    }
    .after-registration__subtitle{
        font-size: 19px;
    }
    .after-registration__text{
        font-size: 17px;
    }
    .after-registration__image{
        margin-right: 0;
        order: -1;
    }
    .after-registration__button{
        margin-top: 16px;
        width: 100%;
    }
    .after-registration__button{
        padding: 16px;
        font-size: 16px;
    }
   
}

@media (max-width: 425px){
    .after-registration__title{
        font-size: 20px;
    }
    .after-registration__subtitle{
        margin-top: 8px;
        font-size: 14px;
    }
    .after-registration__text{
        margin-top: 16px;
        font-size: 14px;
    }
    div.after-registration__text_bold{
        margin-top: 8px;
    }
    .after-registration__button{
        margin-top: 16px;
        padding: 13px;
        font-size: 14px;
    }
    .loading__value{
        font-size: 14px;
    }
    .after-registration__loading {

        height: 24px;

    }
    
    .loading__inner{
        height: 22px;
    }
}

