.green-text{
    color: #447F6D;
}

.button{
    display: inline-block;
    background-color: #447F6D;
    padding: 20px;
    color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 1.15;
    font-family: Gilroy-Semibold;
    letter-spacing: 2px;
}

.capital-letters{
    text-transform: uppercase;
}

.visually-hidden{
    display: none;
}