.footer{
    background-color: #447F6D;
    margin-top: 110px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    color: #fff;
}

.footer__container{
    display: flex;
    align-items: center;
    padding: 48px 60px;
}

.footer__content{
    display: flex;
    flex-direction: column;
   
}

.footer__title{
    font-family: RFDewiExpanded-Bold;
    font-size: 36px;
    line-height: 1.3;
    text-transform: uppercase;
}

.footer__title span{
    background-color: white;
    color: #447F6D;
    border-radius: 30px;
    padding: 4px 20px;
}

.footer__registration-propose{
    margin-top: 32px;
    font-family: Gilroy-Semibold;
    font-size: 24px;
}

.footer__event{
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-left: -12px;
}

.footer__event-icon{

}

.footer__event-name{
    font-family: Gilroy-Bold;
    font-size: 28px;
}

.footer__registration-text{
    margin-top: 21px;
    font-family: Gilroy-Medium;
    font-size: 16px;
}

.footer__button{
    margin-top: 24px;
    background-color: #fff;
    color: #447F6D;
    max-width: 378px;
}   

.footer__img{

}

@media (max-width: 1024px){
    .footer__img img{
        width: 250px;
    }
}

@media (max-width: 768px){
    .footer{
        margin-top: 75px;
    }
    .footer__container{
        padding: 30px 30px 29px;
    }
    .footer__img{
        display: none;
    }
    .footer__title{
        font-size: 28px;
    }
    .footer__event-name{
        font-size: 20px;
        max-width: 438px;
    }
    .footer__event-icon img{
        width: 62px;
    }
    .footer__registration-propose{
        font-size: 20px;
    }
    .footer__button{
        max-width: 100%;

    }
}

@media (max-width: 425px){
    
    .footer{
        margin-top: 26px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .footer__container{
        padding: 24px 16px 29px;
    }
    .footer__title{
        font-size: 18px;
    }
    .footer__registration-propose{
        margin-top: 14px;
        font-size: 14px;
    }
    .footer__title span{
        padding: 1px 8px;
    }
    .footer__event{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__event-name{
        font-size: 16px;
        margin-left: 12px;
    }
    .footer__event-icon img{
        width: 62px;
    }
    .footer__registration-text{
        margin-top: 16px;
        font-size: 14px;
    }
    .footer__button{
        margin-top: 13px;
        padding: 13px 0;
        font-size: 14px;
    }
    
    
}