.for-who{
    padding-top: 90px;
}

.for-who__container{
}

.for-who__question{
    font-family: RFDewiExpanded-Bold;
    font-size: 36px;
}

.for-who__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки в первой строке */
    grid-auto-rows: 1fr; 
    gap: 20px;
    align-items: stretch;
    margin-top: 44px;
}

.for-who__item{
    background-color: #F3EAD8;
    border-radius: 10px;
    padding: 80px 20px 20px 20px;
    position: relative;
   
}

.for-who__item:not(:nth-child(5)){
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.for-who-icon{
    position: absolute;
    top: 13px;
    left: 16px;
}

.for-who__title{
    /* margin-top: auto; */
    font-family: Gilroy-Bold;
    font-size: 18px;
}

.for-who__text{
    margin-top: 10px;
    font-family: Gilroy-Medium;
    font-size: 16px;
    color: black;
}

.for-who__number{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 60px;
    height: 60px;
    background-color: #447F6D;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
}

.for-who__item:nth-child(5){
    grid-column: span 2;
    display: flex;
    align-items: center;
    background-color: #447F6D;
    padding: 9px 32px 9px 7px;
}

.for-who__item:nth-child(5) .for-who__text{
    font-family: Gilroy-Bold;
    font-size: 26px;
    color: white;
    margin-left: 15px;
    line-height: 1.13;
    letter-spacing: 0.2;
  
}

.for-who__item:nth-child(5)::after{
    display: none;
}

.for-who-icon img{
    width: 71px;
}

@media (max-width: 1167px){
    .for-who__item:nth-child(5) .for-who__text{
        font-size: 20px;
    }
    .for-who__item:nth-child(5){
        padding: 0 20px;
    }
}

@media (width < 1024px){
    .for-who__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px){
   
    .for-who{
        padding-top: 42px;
    }
    .for-who__question{
        font-size: 18px;
    }
    .for-who__grid{
        grid-template-columns: repeat( 1,1fr);
        margin-top: 31px;
    }
    .for-who__item{
        padding: 0 34px 16px 20px;
    }
    .for-who__title{
        margin-top: 0;
    }
    .for-who__text{
        margin-top: 4px;
    }
    .for-who__item:nth-child(5){
        grid-column: 1;
    }
   .for-who__item:nth-child(5) .for-who-image img{
        width: 100%;
    }
    .for-who__item:nth-child(5) .for-who-image{
        width: 150%;
        min-width: 200px;
    }
    
}

@media (max-width: 591px){
    .for-who__item{
        padding: 80px 23px 16px 20px;
        
    }
    .for-who__text{
        font-size: 14px;
    }
    .for-who__item:nth-child(5){
        padding-left: 0;
        padding-right: 10px;
    }
    .for-who__item:nth-child(5) .for-who__text{
        font-size: 14px;
    }
    .for-who__item:nth-child(5) .for-who-image{
        width: 150%;
        min-width: 100px;
    }
    .for-who__image img{
        width: 120px;
        height: 100%;
    }
    .for-who-icon img{
        width: 65px;
    }
}

@media (max-width: 425px){
    .for-who__number img{
        width: 8px;
        height: 13px;
    }
    .for-who__number{
        width: 44px;
        height: 44px;
        top: -16px;
        right: 0;
    }
    .for-who-icon img{
        width: 53px;
    }
    .for-who__title{
        font-size: 16px;
    }
    .for-who__text{
        font-size: 14px;
    }
}